#cart{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
  margin: auto;
    text-align: center;
    
  }
  img{
       width: 200px;
       height: 150px;
       /* margin-left: 70px; */
  }
  .food{
    border: 1px solid blue;
  }
  #checkout{
    margin-top: 50px;
    margin-left: 50px;
  }